.form__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3D5A80;
    height: 100vh;
    font-weight: bold;
}

.form__logo{
    width: 200px;   
    margin-bottom: 20px;
}

.form__title {
    margin-bottom: 20px;
}

.box__sign-in{
    border: 1.5px solid #ddd;
    width: 30%;
    border-radius: 5px;
    padding: 30px;
}

.form__box{
    display: grid;
    grid-template-rows: repeat(4, 0.8fr);
    grid-row-gap: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.password, .username{
    height: 40px;
    outline: none;
    transition: 200ms all;
    margin-top: -8px;
}

.password:focus, .username:focus{
    
    border: 2px solid #F5D381;
    box-shadow:2px 2px 2px #F4D483;  
}

.btn_submit-login{
    width: 100%;
    margin-top: 30px;
    background-color: #F5D38195;
    height: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

.login-success {
    color: #80FF7295;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: none;
}

.login-fail, .empty-email{
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: none;
}

.active{
    display: block;
}

.btn_submit-login:hover {
    background-color: #F5D381;
}

.link-direct {
    color: white;
    margin-left: 5px;
}