.wrapper-form {
    background: rgb(207,140,228);
    background: radial-gradient(circle, rgba(207,140,228,0.9867297260701156) 0%, rgba(93,210,183,1) 100%);
}

.form__pro-detail{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.back {
    width: 80px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #0F8B8D;
    color: white;
    font-weight: bold;
}

.info-product{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100vh;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-product{
    width: 400px;
    height: 500px;
}

.info-primary{
    margin-top: 100px;
}

.product-description{
    height: 300px;
    padding-right: 50px;
    overflow: auto;
    margin-top: 20px;
}

.description {
    font-size: 1.2rem;
}
.product-price h2{
    display: inline;
}

.product-price {
    margin-top: 20px;
}

.add-cart{
    outline: none;
    background-color: rgb(230,122,0);
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-top: 30px;
}

.wrapper-comment {
    width: 100%;
    padding: 2rem;
    margin-top: -8rem;
}

.wrapper-comment .comments {
    width: 50%;
    background-color: #fff;
    height: 400px;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

.wrapper-comment .comments tr {
    display: grid;
    grid-template-columns: 30% 70%;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-position: center;
    margin-left: 20px;
}

.date-time {
    font-size: 14px;
    color: #aaa;

}
.wrapper-comment .comments td:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: -10px;
}

.wrapper-comment .form-input {
    display: flex;
    flex-direction: column;
}

.wrapper-comment .text {
    height: 100px;
    width: 50%;
    outline: none;
    padding: 5px;
    border-radius: 10px;
}

.wrapper-comment .comment {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #63D471;
    color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }