.form__pro-detail{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.back {
    width: 80px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #0F8B8D;
    color: white;
    font-weight: bold;
}

.info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100vh;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-product{
    width: 400px;
    height: 500px;
}

.info-primary{
    margin-top: 100px;
}

.product-description{
    height: 300px;
    padding-right: 50px;
    overflow: auto;
    margin-top: 20px;
}

.product-price h2{
    display: inline;
}

.product-price {
    margin-top: 20px;
}

.add-cart{
    outline: none;
    background-color: rgb(230,122,0);
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-top: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }