.form__filter{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.form__option{
    margin-right: 30px;
}

.text-name {
    margin: 0 30px;
}

.Sort{
    margin-right: 5px;
}