.form__filter {
    transform: translate(-25rem,3rem);
    width: 500px;
    margin: auto;
}

.sort {
    font-weight: bold;
    margin-right: 1rem;
}

.product{
    display: grid;
    grid-row-gap: 10px ;
    width :200px;
    max-height: 400px;
    margin-left: 4.8rem;
}

.product__title {
    font-size: 22px;
    height: 50px;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.product__title:hover {
    color:red;
}

.product__image{
    width: 100%;
    height: 280px;
    z-index: 1;
}

.product__addCart {
    display: flex;
    justify-content: center;
}

.product__btnAdd{
    outline: none;
    background-color: rgb(230,122,0);
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    transition: all 300ms;
}

.product__btnAdd:hover {
    color : red;
    font-weight: bold;
}


.wrap__list-product{
    width: 100%;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    min-height: 940px;
}


.form__option{
    margin-right: 30px;
}

.text-name {
    margin: 0 30px;
}

.Sort{
    margin-right: 5px;
}

.listProduct {
    padding-bottom: 2rem;
    min-height: 1024px;
    height:auto;
    background: rgb(145,26,182);
    background: radial-gradient(circle, rgba(145,26,182,0.9867297260701156) 0%, rgba(111,26,255,0.7066176812521884) 100%);
}

.comments table {
    width: 100%;
}

.row-comment {
    margin: 0.5rem 0 1rem -1rem ;
    border-bottom: 1px solid #aaa;
    width: 100%;
}

.paginationBtns {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
}

.paginationBtns a {
    padding: 10px;
    margin: 8px;
    border-radius: 4px;
    border: 1px solid #A882DD;
    color: white;
    cursor: pointer;
    transition: 300ms all;
}

.paginationBtns a:hover {
    color: red;
    background-color: #A882DD;
}

.paginationActive a {
    color: red;
    background-color: #A882DD;
}
