.form__filter {
    transform: translate(-25rem,3rem);
    width: 500px;
    margin: auto;
}

.sort {
    font-weight: bold;
    margin-right: 1rem;
}

.product{
    display: grid;
    grid-row-gap: 10px ;
    width :200px;
    height: auto;
    margin-left: 4.8rem;
}

.product__title {
    font-size: 22px;
    height: 50px;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.product__title:hover {
    color:red;
}

.product__image{
    width: 100%;
    height: 280px;
    z-index: 1;
}

.product__addCart {
    display: flex;
    justify-content: center;
}

.product__btnAdd{
    outline: none;
    background-color: rgb(230,122,0);
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    transition: all 300ms;
}

.product__btnAdd:hover {
    color : red;
    font-weight: bold;
}


.wrap__list-product{
    width: 100%;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 50px;
    grid-row-gap: 100px;
}


.form__option{
    margin-right: 30px;
}

.text-name {
    margin: 0 30px;
}

.Sort{
    margin-right: 5px;
}

.listProduct {
    min-height: 1024px;
    height:auto;
    background: rgb(145,26,182);
    background: radial-gradient(circle, rgba(145,26,182,0.9867297260701156) 0%, rgba(111,26,255,0.7066176812521884) 100%);
}

.hidden {
    display: none;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
}
  
  .outer,
  .middle,
  .inner {
    border: 3px solid transparent;
    border-top-color: #3cefff;
    border-right-color: #3cefff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    animation: spin 2s linear infinite;
  }
  
  .middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-top: -1.05em;
    animation: spin 1.75s linear reverse infinite;
  }
  
  .inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-top: -0.4em;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

